<h1>Admin Dashboard</h1>

<div class="update-account">

</div>
<div class="company-info">
  <p>Update <%= link_to "fadm", '#' %> information such as social media links</p>
</div>
<div class="site-seo">
  <p><%= link_to "Update Site Information", '#' %> </p>
</div>
<div class="organization-info">
  <p><%= link_to "Update Organization Profile", '#' %> </p>
</div>
<div class="clients-info">
  <p><%= link_to "Add or Update Clients", '#' %> </p>
</div>
